/* The * selector selects all elements, 
the *:before selector selects all elements before the content, 
and the *:after selector selects all elements after the content. */
*,
*:before,
*:after {
    /* global CSS reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 246, 240);
}

main {
    flex: 1;
    padding: 10%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
}

/* makes a one column layout instead of a two-column layout */
@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

.card {
    width: 400px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.hero-image {
    /* background-image: linear-gradient(#466eff80, rgba(255, 249, 86, 0.5)); */
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-image-1 {
    background-image: linear-gradient(#6546ff80, rgba(86, 255, 134, 0.5)),
        url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80");
}

.hero-image-2 {
    background-image: linear-gradient(#ffb24680, rgba(86, 255, 148, 0.5)),
        url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=400&q=80");
}

.hero-image-3 {
    background-image: linear-gradient(#6546ff80, rgba(255, 244, 86, 0.5)),
        url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=400&q=80");
}

.hero-image-4 {
    background-image: linear-gradient(#6546ff80, rgba(86, 255, 134, 0.5)),
        url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=400&q=80");
}

.hero-text {
    /* text-align: left; */
    /* position: absolute; */

    padding: 30px 25px;
    /* top: 10%;
    left: 5%; */
    color: white;
}


.card img {
    width: 100%;
    height: 200px;
}

.card h3 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
}

.card p {
    line-height: 1.5rem;
    margin-top: 0.5rem;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.card button {
    font-size: 12px;
    font-weight: bold;
    background: 0%;
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    transition: font-size 0.3s;
}

.card button:hover {
    font-size: 15px;
}